body{
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 400;
  }

  body h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 76px;
  font-weight: 800;
  }

  .porque-bg {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('./assets/bg-porque.png');
  background-size: auto;
  background-position: 65% 9%;
  background-repeat: no-repeat;
}
.porque-overlay{
  background: rgba(0, 0, 0, 0.91); /* Cor preta com 70% de opacidade */
}
